html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainContainer{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	place-items: center;
}

.colorContainer{
	display: block;
	width: 20vw;
	height: 20vw;
	margin-bottom: 3vh;
	border-radius: 25px;
}

.buttonContainer{
	margin-bottom: 3vh;
}

.buttonContainer button{
	border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button + button{
	margin-left: .5vw;
}

.buttonContainer button:hover {
  border-color: #646cff;
}
.buttonContainer button:focus,
.buttonContainer button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.wrong{
	color: #fa2020;
}

.correct{
	color: #17e005;
}